.banner__logo {
  max-width: 30rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.banner__logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.hero-banner {
  height: 100vh;
  padding: 2rem;
  background-size: cover;
}

.hero-nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 0 auto;
}

.nav-item {
  display: flex;
  margin-bottom: 3rem;
  padding: 0 2rem;
  background: white;
  color: black;
  font-size: 5rem;
  border-radius: 1rem;
  text-decoration: none;
  mix-blend-mode:screen;
}

.nav-item--link {
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}